<!DOCTYPE html>
<html>

<head>
    <base href="../">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="mode" content="reader">
    <title>Audio</title>
</head>

<body>
    <h1>Audio:</h1>
    <span id="audio"></span><br>
    <span id="id"></span><br>
    <span id="answer"></span><br>
    <button id="next" class="btn">next</button>
    <div class="success" id="success"></div>
    <input type="hidden" id="mode" value="flashcard"></input>
</body>
<script src="static/audio.js"></script>

</html>