<!DOCTYPE html>
<html>

<head>
    <base href="../">
    <title>Analytics</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Analytics</h1>
    <table id="table">
        <tr>
            <th>ID</th>
            <th>Character</th>
            <th>PinYin</th>
            <th>Definition</th>
            <th>Appearances</th>
            <th>Correct</th>
        </tr>
    </table>
</body>
<script src="static/analytics.js"></script>
<div class="footer">
    <p>Krishna Bhat (Dessel)</p>
    <a href="https://github.com/KrishnaBhat00/Chinese-Vocab/">GitHub</a>
</div>

</html>