<!DOCTYPE html>
<html>

<head>
    <title>Chinese Review Site</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Chinese Review Site</h1>
    <h2>This site is for reviewing Chinese.</h2>
    <h2>这个网站是给你中文学习。</h2>
    <div class="links">
        <a href="/flashcard" class="btn nav">Flashcard Mode</a>
    </div>
</body>
<div class="footer">
    <p>Krishna Bhat (Dessel)</p><br>
    <a href="https://github.com/KrishnaBhat00/Chinese-Vocab/">GitHub</a>
</div>

</html>